* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #d4a37a;
  color: black;

}

.App {
  min-height: 100vh;
}